body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  color: white;
}

h1 {
  text-align: center;
  padding: 1em;
}

h3 {
  text-align: center;
}

label{
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder{
  font-style: italic;
}
